<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fruit_apple_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,54},{48,46}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{48,46}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>fruit_grape_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,2},{44,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{44,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>fruit_lemon_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,2},{50,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{50,46}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>fruit_orange_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,84},{46,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{46,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>fruit_pitaya_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,84},{46,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{46,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>fruit_plum_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,84},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{48,48}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>fruit_strawberry_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,84},{46,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{46,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>fruit_watermelon_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,102},{46,48}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{46,48}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>view_fruit_apple.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,2},{76,76}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{76,76}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>view_fruit_grape.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,2},{76,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{76,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>view_fruit_lemon.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,80},{78,70}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{78,70}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>view_fruit_orange.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,80},{70,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{70,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>view_fruit_pitaya.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,2},{72,80}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{72,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>view_fruit_plum.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,2},{76,76}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{76,76}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>view_fruit_strawberry.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,76},{72,78}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{72,78}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>view_fruit_watermelon.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{78,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{78,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fruit.png</string>
            <key>size</key>
            <string>{492,152}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e29ba51a221106487d6fdcc53821c235$</string>
            <key>textureFileName</key>
            <string>fruit.png</string>
        </dict>
    </dict>
</plist>
