<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>AE.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,866},{160,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,106}}</string>
                <key>sourceSize</key>
                <string>{160,106}</string>
            </dict>
            <key>BH.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,866},{160,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,106}}</string>
                <key>sourceSize</key>
                <string>{160,106}</string>
            </dict>
            <key>DZ.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,758},{160,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,106}}</string>
                <key>sourceSize</key>
                <string>{160,106}</string>
            </dict>
            <key>EG.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,758},{160,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,106}}</string>
                <key>sourceSize</key>
                <string>{160,106}</string>
            </dict>
            <key>IQ.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,650},{160,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,106}}</string>
                <key>sourceSize</key>
                <string>{160,106}</string>
            </dict>
            <key>IR.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,650},{160,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,106}}</string>
                <key>sourceSize</key>
                <string>{160,106}</string>
            </dict>
            <key>JO.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,542},{160,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,106}}</string>
                <key>sourceSize</key>
                <string>{160,106}</string>
            </dict>
            <key>KW.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,542},{160,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,106}}</string>
                <key>sourceSize</key>
                <string>{160,106}</string>
            </dict>
            <key>LB.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,434},{160,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,106}}</string>
                <key>sourceSize</key>
                <string>{160,106}</string>
            </dict>
            <key>LY.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,434},{160,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,106}}</string>
                <key>sourceSize</key>
                <string>{160,106}</string>
            </dict>
            <key>MA.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,326},{160,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,106}}</string>
                <key>sourceSize</key>
                <string>{160,106}</string>
            </dict>
            <key>OM.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,326},{160,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,106}}</string>
                <key>sourceSize</key>
                <string>{160,106}</string>
            </dict>
            <key>PS.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,218},{160,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,106}}</string>
                <key>sourceSize</key>
                <string>{160,106}</string>
            </dict>
            <key>QA.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,218},{160,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,106}}</string>
                <key>sourceSize</key>
                <string>{160,106}</string>
            </dict>
            <key>SA.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,110},{160,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,106}}</string>
                <key>sourceSize</key>
                <string>{160,106}</string>
            </dict>
            <key>TR.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,110},{160,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,106}}</string>
                <key>sourceSize</key>
                <string>{160,106}</string>
            </dict>
            <key>YE.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,2},{160,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,106}}</string>
                <key>sourceSize</key>
                <string>{160,106}</string>
            </dict>
            <key>default.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{160,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,106}}</string>
                <key>sourceSize</key>
                <string>{160,106}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>centerEast.png</string>
            <key>size</key>
            <string>{326,974}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3b8135f52d3cfc077bf098b8fda3ac7e$</string>
            <key>textureFileName</key>
            <string>centerEast.png</string>
        </dict>
    </dict>
</plist>
